In [15]:

# Import libraries
import pandas as pd
import sqlite3
import os

# Establish connection to SQLite database
connection = sqlite3.connect("employee_database.db")
cursor = connection.cursor()

# Directory path
directory = '/Users/sarahrwolberg/Desktop/UPENN_Data_Science_Bootcamp/Module_9/sql_challenge'

# Verify if directory exists and list its contents
if os.path.exists(directory):
    print("Directory exists. Files in the directory:")
    print(os.listdir(directory))
else:
    print("Directory does not exist. Please check the path.")

# Step 1: Create Table Schemas
create_tables_sql = [
    """
    CREATE TABLE IF NOT EXISTS departments (
        dept_no CHAR(4) PRIMARY KEY,
        dept_name VARCHAR(40) NOT NULL
    );
    """,
    """
    CREATE TABLE IF NOT EXISTS employees (
        emp_no INT PRIMARY KEY,
        birth_date DATE NOT NULL,
        first_name VARCHAR(50) NOT NULL,
        last_name VARCHAR(50) NOT NULL,
        hire_date DATE NOT NULL
    );
    """,
    """
    CREATE TABLE IF NOT EXISTS salaries (
        emp_no INT PRIMARY KEY,
        salary INT NOT NULL,
        FOREIGN KEY (emp_no) REFERENCES employees(emp_no)
    );
    """,
    """
    CREATE TABLE IF NOT EXISTS titles (
        emp_no INT PRIMARY KEY,
        title VARCHAR(50) NOT NULL,
        FOREIGN KEY (emp_no) REFERENCES employees(emp_no)
    );
    """,
    """
    CREATE TABLE IF NOT EXISTS dept_emp (
        emp_no INT NOT NULL,
        dept_no CHAR(4) NOT NULL,
        PRIMARY KEY (emp_no, dept_no),
        FOREIGN KEY (emp_no) REFERENCES employees(emp_no),
        FOREIGN KEY (dept_no) REFERENCES departments(dept_no)
    );
    """,
    """
    CREATE TABLE IF NOT EXISTS dept_manager (
        emp_no INT NOT NULL,
        dept_no CHAR(4) NOT NULL,
        PRIMARY KEY (emp_no, dept_no),
        FOREIGN KEY (emp_no) REFERENCES employees(emp_no),
        FOREIGN KEY (dept_no) REFERENCES departments(dept_no)
    );
    """
]
# Execute table creation
for command in create_tables_sql:
    cursor.execute(command)

connection.commit()
print("All tables created successfully.")

# Step 2: Load Data into Tables
def load_csv_to_sqlite(file_path, table_name, conn):
    try:
        df = pd.read_csv(file_path)
        df.to_sql(table_name, conn, if_exists='replace', index=False)
        print(f"Data from {file_path} loaded into {table_name}.")
    except FileNotFoundError:
        print(f"File not found: {file_path}. Skipping {table_name}.")
    except Exception as e:
        print(f"Error loading {file_path} into {table_name}: {e}")

# File paths
csv_files = {
    "departments": f"{directory}/departments.csv",
    "employees": f"{directory}/employees.csv",
    "salaries": f"{directory}/salaries.csv",
    "titles": f"{directory}/titles.csv",
    "dept_emp": f"{directory}/dept_emp.csv",
    "dept_manager": f"{directory}/dept_manager.csv"
}

# Load data into tables
for table_name, file_path in csv_files.items():
    load_csv_to_sqlite(file_path, table_name, connection)

# Step 3: Verify Table Data
def check_table_data(table_name, conn):
    try:
        query = f"SELECT * FROM {table_name} LIMIT 5;"
        result = pd.read_sql(query, conn)
        print(f"Data preview for table: {table_name}")
        print(result)
    except Exception as e:
        print(f"Error checking data for {table_name}: {e}")

# Verify data in tables
for table_name in csv_files.keys():
    check_table_data(table_name, connection)

# Step 4: Data Analysis Queries
def run_query(query, conn):
    try:
        result = pd.read_sql(query, conn)
        print(result)
    except Exception as e:
        print(f"Error running query: {e}")

# Queries
queries = {
    "1. Employee details and salaries": """
        SELECT employees.emp_no, employees.last_name, employees.first_name, salaries.salary
        FROM employees
        JOIN salaries ON employees.emp_no = salaries.emp_no;
    """,
    "2. Employees hired in 1986": """
        SELECT first_name, last_name, hire_date
        FROM employees
        WHERE hire_date LIKE '1986%';
    """,
    "3. Managers and their departments": """
        SELECT dept_manager.dept_no, departments.dept_name, employees.emp_no, employees.last_name, employees.first_name
        FROM dept_manager
        JOIN departments ON dept_manager.dept_no = departments.dept_no
        JOIN employees ON dept_manager.emp_no = employees.emp_no;
    """,
    "4. Department details for employees": """
        SELECT dept_emp.dept_no, employees.emp_no, employees.last_name, employees.first_name, departments.dept_name
        FROM dept_emp
        JOIN employees ON dept_emp.emp_no = employees.emp_no
        JOIN departments ON dept_emp.dept_no = departments.dept_no;
    """,
    "5. Employees named Hercules B*": """
        SELECT first_name, last_name
        FROM employees
        WHERE first_name = 'Hercules' AND last_name LIKE 'B%';
    """,
    "6. Employees in Sales department": """
        SELECT employees.emp_no, employees.last_name, employees.first_name
        FROM employees
        JOIN dept_emp ON employees.emp_no = dept_emp.emp_no
        JOIN departments ON dept_emp.dept_no = departments.dept_no
        WHERE departments.dept_name = 'Sales';
    """,
    "7. Employees in Sales and Development": """
        SELECT employees.emp_no, employees.last_name, employees.first_name, departments.dept_name
        FROM employees
        JOIN dept_emp ON employees.emp_no = dept_emp.emp_no
        JOIN departments ON dept_emp.dept_no = departments.dept_no
        WHERE departments.dept_name IN ('Sales', 'Development');
    """,
    "8. Frequency of last names": """
        SELECT last_name, COUNT(last_name) AS name_count
        FROM employees
        GROUP BY last_name
        ORDER BY name_count DESC;
    """
}

# Execute and display each query
for description, query in queries.items():
    print(f"\n{description}")
    run_query(query, connection)

# Close the connection
connection.close()
print("Database connection closed.")

Directory exists. Files in the directory:
['EmployeeSQL', '.DS_Store']
All tables created successfully.
File not found: /Users/sarahrwolberg/Desktop/UPENN_Data_Science_Bootcamp/Module_9/sql_challenge/departments.csv. Skipping departments.
File not found: /Users/sarahrwolberg/Desktop/UPENN_Data_Science_Bootcamp/Module_9/sql_challenge/employees.csv. Skipping employees.
File not found: /Users/sarahrwolberg/Desktop/UPENN_Data_Science_Bootcamp/Module_9/sql_challenge/salaries.csv. Skipping salaries.
File not found: /Users/sarahrwolberg/Desktop/UPENN_Data_Science_Bootcamp/Module_9/sql_challenge/titles.csv. Skipping titles.
File not found: /Users/sarahrwolberg/Desktop/UPENN_Data_Science_Bootcamp/Module_9/sql_challenge/dept_emp.csv. Skipping dept_emp.
File not found: /Users/sarahrwolberg/Desktop/UPENN_Data_Science_Bootcamp/Module_9/sql_challenge/dept_manager.csv. Skipping dept_manager.
Data preview for table: departments
  dept_no        dept_name
0    d001        Marketing
1    d002          Finance
2    d003  Human Resources
3    d004       Production
4    d005      Development
Data preview for table: employees
   emp_no emp_title_id  birth_date  first_name  last_name sex   hire_date
0  473302        s0001   7/25/1953    Hideyuki   Zallocco   M   4/28/1990
1  475053        e0002  11/18/1954       Byong  Delgrande   F    9/7/1991
2   57444        e0002   1/30/1958       Berry       Babb   F   3/21/1992
3  421786        s0001   9/28/1957       Xiong   Verhoeff   M  11/26/1987
4  282238        e0003  10/28/1952  Abdelkader    Baumann   F   1/18/1991
Data preview for table: salaries
   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228
Data preview for table: titles
  title_id               title
0    s0001               Staff
1    s0002        Senior Staff
2    e0001  Assistant Engineer
3    e0002            Engineer
4    e0003     Senior Engineer
Data preview for table: dept_emp
   emp_no dept_no
0   10001    d005
1   10002    d007
2   10003    d004
3   10004    d004
4   10005    d003
Data preview for table: dept_manager
  dept_no  emp_no
0    d001  110022
1    d001  110039
2    d002  110085
3    d002  110114
4    d003  110183

1. Employee details and salaries
        emp_no  last_name   first_name  salary
0       473302   Zallocco     Hideyuki   40000
1       475053  Delgrande        Byong   53422
2        57444       Babb        Berry   48973
3       421786   Verhoeff        Xiong   40000
4       282238    Baumann   Abdelkader   40000
...        ...        ...          ...     ...
300019  464231    Eastman  Constantino   69696
300020  255832     Dayang       Yuping   75355
300021   76671   Plessier       Ortrud   61886
300022  264920   Samarati        Percy   62772
300023  464503  Slobodova       Arvind   41708

[300024 rows x 4 columns]

2. Employees hired in 1986
Empty DataFrame
Columns: [first_name, last_name, hire_date]
Index: []

3. Managers and their departments
   dept_no           dept_name  emp_no     last_name   first_name
0     d001           Marketing  110022    Markovitch    Margareta
1     d001           Marketing  110039      Minakawa     Vishwani
2     d002             Finance  110085         Alpin         Ebru
3     d002             Finance  110114    Legleitner        Isamu
4     d003     Human Resources  110183  Ossenbruggen      Shirish
5     d003     Human Resources  110228       Sigstam      Karsten
6     d004          Production  110303       Wegerle    Krassimir
7     d004          Production  110344         Cools       Rosine
8     d004          Production  110386        Kieras         Shem
9     d004          Production  110420      Ghazalie        Oscar
10    d005         Development  110511      Hagimont     DeForest
11    d005         Development  110567      DasSarma         Leon
12    d006  Quality Management  110725       Onuegbe    Peternela
13    d006  Quality Management  110765       Hofmeyr       Rutger
14    d006  Quality Management  110800       Quadeer       Sanjoy
15    d006  Quality Management  110854         Pesch         Dung
16    d007               Sales  111035     Kaelbling  Przemyslawa
17    d007               Sales  111133         Zhang        Hauke
18    d008            Research  111400       Staelin         Arie
19    d008            Research  111534        Kambil       Hilary
20    d009    Customer Service  111692   Butterworth        Tonny
21    d009    Customer Service  111784    Giarratana        Marjo
22    d009    Customer Service  111877      Spinelli      Xiaobin
23    d009    Customer Service  111939       Weedman      Yuchang

4. Department details for employees
       dept_no  emp_no last_name first_name        dept_name
0         d005   10001   Facello     Georgi      Development
1         d007   10002    Simmel    Bezalel            Sales
2         d004   10003   Bamford      Parto       Production
3         d004   10004   Koblick  Chirstian       Production
4         d003   10005  Maliniak    Kyoichi  Human Resources
...        ...     ...       ...        ...              ...
331598    d004  499995  Lichtner     Dekang       Production
331599    d004  499996      Baaz       Zito       Production
331600    d005  499997    Lenart    Berhard      Development
331601    d002  499998   Breugel   Patricia          Finance
331602    d004  499999   Tsukuda     Sachin       Production

[331603 rows x 5 columns]

5. Employees named Hercules B*
   first_name      last_name
0    Hercules           Baer
1    Hercules          Biron
2    Hercules          Birge
3    Hercules        Berstel
4    Hercules      Bernatsky
5    Hercules           Bail
6    Hercules         Bodoff
7    Hercules       Benantar
8    Hercules        Basagni
9    Hercules  Bernardinello
10   Hercules     Baranowski
11   Hercules        Bisiani
12   Hercules     Benzmuller
13   Hercules           Bahr
14   Hercules          Biran
15   Hercules           Bain
16   Hercules        Brendel
17   Hercules        Buchter
18   Hercules       Barreiro
19   Hercules           Baak

6. Employees in Sales department
       emp_no    last_name first_name
0       10002       Simmel    Bezalel
1       10016  Cappelletti   Kazuhito
2       10034         Swan      Bader
3       10041       Lenart        Uri
4       10050       Dredge    Yinghua
...       ...          ...        ...
52240  499976       Felder   Guozhong
52241  499980        Usery       Gino
52242  499986        Ranta     Nathan
52243  499987       Dusink      Rimli
52244  499988      Kleiser   Bangqing

[52245 rows x 3 columns]

7. Employees in Sales and Development
        emp_no  last_name first_name    dept_name
0        10001    Facello     Georgi  Development
1        10006    Preusig     Anneke  Development
2        10008   Kalloufi     Saniya  Development
3        10012  Bridgland   Patricio  Development
4        10014      Genin      Berni  Development
...        ...        ...        ...          ...
137947  499976     Felder   Guozhong        Sales
137948  499980      Usery       Gino        Sales
137949  499986      Ranta     Nathan        Sales
137950  499987     Dusink      Rimli        Sales
137951  499988    Kleiser   Bangqing        Sales

[137952 rows x 4 columns]

8. Frequency of last names
       last_name  name_count
0           Baba         226
1         Gelosh         223
2          Coorg         223
3        Sudbeck         222
4         Farris         222
...          ...         ...
1633  Guardalben         148
1634   Georgatos         148
1635       Merro         147
1636    Sadowsky         145
1637    Foolsday           1

[1638 rows x 2 columns]
Database connection closed.